<div class="container mt-5">
  <h2 class="text-center">EB1</h2>
  <h4 class="mt-3">Calculer et afficher dans un tableau (Semaine | Nb Visites) avec les 3 semaines ayant le
    plus grand nombre de visites pour l’UAI suivante 0010024W.</h4>


  <table class="table border mt-5">
    <thead class="table-primary">
    <tr>
      <th>Semaine</th>
      <th>Nb Visites</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataset">
      <td>{{ data.debutsemaine | date:'dd-MMMM-yyyy' }}</td>
      <td>{{ data.total_visits }}</td>
    </tr>
    </tbody>
  </table>
</div>



