<div class="container mt-5">
  <h2 class="text-center">EB2</h2>
  <h4 class="mt-3">Créer un formulaire qui prend en entrée l’UAI et une liste déroulante avec les valeurs
    (“Année” ou “Mois”), agréger les données suivant ce critère et afficher les résultats dans un
    tableau.</h4>



  <form [formGroup]="formulaire" (ngSubmit)="submitForm()">
    <div class="mb-3">
      <label for="uaiInput" class="form-label">UAI:</label>
      <input type="text" class="form-control" id="uaiInput" formControlName="uai" placeholder="Enter UAI">
    </div>

    <div class="mb-3">
      <label for="choixSelect" class="form-label">Select choix:</label>
      <select class="form-select" id="choixSelect" formControlName="choix">
        <option value="annee">Année</option>
        <option value="mois">Mois</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
