<div class=" col-md-6 mt-5 mx-auto">
  <h2 class="text-center">EB4</h2>
  <h4 class="mt-3 text-center">
    Proposer une autre fonctionnalité de votre choix.
  </h4>
<h2 class="mt-5">Téléchargement du Dataset</h2>

<form [formGroup]="formulaire" (ngSubmit)="submitForm()">
  <label for="choixSelect" class="mt-5">Choisissez le format de téléchargement :</label>

  <select class="form-select w-25 mt-3" id="choixSelect" formControlName="choix">
    <ng-container *ngFor="let file of listOfFiles">
    <option value="{{ file.rel }}">{{ file.rel }}</option>
    </ng-container>
  </select>

  <button type="submit" class="btn btn-primary w-25 mt-3">Télécharger</button>
</form>
</div>
